*{
    margin: 0;
    padding: 0;
}


body{
    position: relative;
        width: 428px;
        height: 926px;
    
        background: linear-gradient(180deg, #051427 52.6%, #5115FB 99.48%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

  margin: auto;
 
}

button{
    display:
position:relative;
width: 204px;
height: 53px;
left: 116px;
top: 484px;
margin: .25em auto;
border-radius: 20px;
background-color: #fe66c4;
color: white; 
}
