* {
    margin: 0;
    padding: 0;
}

body {

    overflow-x: hidden;
    position: inherit;
    background-image: url('../images/background.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

div #welcome {
    display: grid;
    place-items: center;
}

div #divLogin {
    display: grid;
    place-items: center;
}

div #divRegister {
    display: grid;
    place-items: center;
}

#logo {
    width: 18rem;
    height: 18rem;
    margin: 1em;
    top: 0rem;
    position: relative;
    width: 428px;
    height: 926px;
    background: linear-gradient(180deg, #051427 52.6%, #5115FB 99.48%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: auto;
}

button{
    display:
position:relative;
width: 204px;
height: 53px;
left: 116px;
top: 484px;
margin: .25em auto;
border-radius: 20px;
background-color: #fe66c4;
color: white; 
position: relative;
        width: 428px;
        height: 926px;
            background: linear-gradient(180deg, #051427 52.6%, #5115FB 99.48%);
        margin: auto;

}

#logIn {
    position: absolute;
    width: 11rem;
    height: 3.4rem;
    margin: 1em;
    margin-top: 30rem;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 20pt;
}

#register {
    position: absolute;
    width: 11rem;
    height: 3.4rem;
    margin: 1rem;
    margin-top: 47rem;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 20pt;
}

#or {
    position: absolute;
    color: #F1EF14;
    top: 27rem;
    font-family: 'Charmonman', cursive;
    font-size: 20px;

}

#inputUsername {
    position: relative;
    width: 204px;
    height: 42px;
    top: 4.5rem;
    background: transparent;
    color: #F1EF14;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: #FE66C4;
    letter-spacing: 0.1em;
}

#inputPassword {
    position: relative;
    width: 204px;
    height: 42px;
    top: 6rem;
    background: transparent;
    color: #F1EF14;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: #FE66C4;
    letter-spacing: 0.2em;
}

#logIn2 {
    /*boton create acount */
    position: relative;
    width: 11rem;
    height: 3.4rem;
    top: 8rem;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 25px;
}

#SignAs {
    position: relative;
    width: 11rem;
    height: 3rem;
    top: 1rem;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 18px;
    text-align: center;
}

#logoGoogle {
    position: relative;
    width: 11rem;
    height: 3rem;
    top: 12.5rem;
}

#logoTwitter {
    position: relative;
    width: 11rem;
    height: 3rem;
    top: 13.5rem;
}

#logoGitHub {
    position: relative;
    width: 11rem;
    height: 2.5rem;
    top: 14.5rem;
    border-radius: .8rem;
}

#buttonBack {
    position: relative;
    width: 11rem;
    height: 3rem;
    top: 10rem;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 25px;
}

div #header {
    background-color: #051427 !important;
    display: flex;
    position: fixed !important;
    z-index: 10;
   justify-content: space-around;
    width: 100%;
    height: 70px;
    top: 0px;
}

#logoHorizontal {
    width: 11rem;
    height: 5rem;
   
}

#logOut {
    width: 30px;
    height: 30px;
    align-self: center;
       
}
div #divPost {
    position: relative;
    justify-content: center;
    width: 100%;
}

#titlePost { /*hola */
    position: inherit;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 1.1rem;
    align-items: center;
    justify-self: center;
    margin-top: .5rem;
}

#questionPost {
    color: #FE66C4;
    font-family: 'Charmonman', cursive;
    font-size: 1rem;
    top: 10rem;
    justify-self: center;
}

#inputPost {
    position: relative;
    top: 11rem;
    margin: 1rem;
    width: 15rem;
    height: 5rem;
    justify-self: center;
}

#buttonPost {
    position: relative;
    width: 5rem;
    height: 1.5rem;
    top: 11rem;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 15px;
    text-align: center;
    justify-self: flex-end;
}
#taskContainer {
color: white;
font-size: 8pt;
font-family: Arial, Helvetica, sans-serif;
border-color: #FE66C4;
margin: 20px;
}
.card {
    width: 65%;
    height: 100px;
    margin: 5px;
    color: white;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 15px;
    border-color: #FE66C4;
    background-color: transparent;
    margin-top: 100px;
    border-style: double;
}
div #divWall {
    display: flex;
    margin-top: 100px;
}
#btnDelete {
    width: 30px;
    margin-left: 30rem;
}
#heart {
    width: 30px;
    margin-left: 30rem;
}
#btnEdit{
    width: 30px;
    margin-left: 30rem;
}