* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-image: url('../images/background.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 1000px;
    margin: 10px auto;
}

div #welcome {
    display: grid;
    place-items: center;
}

div #divLogin {
    display: grid;
    place-items: center;
}

div #divRegister {
    display: grid;
    place-items: center;
}

#logo {
    width: 18rem;
    height: 18rem;
    margin: 1em;
    top: 0rem;
}

#logIn {
    position: absolute;
    width: 11rem;
    height: 3.4rem;
    margin: 1em;
    margin-top: 30rem;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 20pt;
}

#register {
    position: absolute;
    width: 11rem;
    height: 3.4rem;
    margin: 1rem;
    margin-top: 47rem;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 20pt;
}

#or {
    position: absolute;
    color: #F1EF14;
    top: 27rem;
    font-family: 'Charmonman', cursive;
    font-size: 20px;
}

#inputUsername {
    position: relative;
    width: 204px;
    height: 42px;
    top: 4.5rem;
    background: transparent;
    color: #F1EF14;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: #FE66C4;
    letter-spacing: 0.1em;
}

#inputPassword {
    position: relative;
    width: 204px;
    height: 42px;
    top: 6rem;
    background: transparent;
    color: #F1EF14;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: #FE66C4;
    letter-spacing: 0.2em;
}

#logIn2 {
    /*boton create acount */
    position: relative;
    width: 11rem;
    height: 3.4rem;
    top: 8rem;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 25px;
}

#SignAs {
    position: relative;
    width: 11rem;
    height: 3rem;
    top: 1rem;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 18px;
    text-align: center;
}

#logoGoogle {
    position: relative;
    width: 11rem;
    height: 3rem;
    top: 12.5rem;
}

#logoTwitter {
    position: relative;
    width: 11rem;
    height: 3rem;
    top: 13.5rem;
}

#logoGitHub {
    position: relative;
    width: 11rem;
    height: 2.5rem;
    top: 14.5rem;
    border-radius: .8rem;
}

#buttonBack {
    position: relative;
    width: 11rem;
    height: 3rem;
    top: 10rem;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 25px;
}

div #header {
    display: inline;
    background-color: #051427 !important;
    position: fixed !important;
    z-index: 10;
    width: 100%;
    height: 20rem;
    margin-top: -20px ;
}

#logoHorizontal {
    width: 15rem;
    height: 8rem;
   margin: .5rem;
}

#logOut {
    width: 30px;
    height: 30px; 
    margin-top: 4rem;
    float: right;
    margin-right: 25%;
}

#titlePost { /*do you want.. */
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 1.1rem;
    justify-self: center;
    margin-top: .5rem;
    
}

#inputPost {
    top: 11rem;
    margin: 1rem;
    width: 25rem;
    height: 5rem;
    justify-self: center;
    min-width: 100px;
   align-items: stretch;
}

#buttonPost {
    width: 5rem;
    height: 1.5rem;
    top: 4rem;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 15px;
    text-align: center;
    justify-self: flex-end;
}
#taskContainer {
color: white;
font-size: 8pt;
font-family: Arial, Helvetica, sans-serif;
border-color: #FE66C4;
margin: 20px;
margin-top: 20rem;
position: sticky;
scroll-margin-top: 50rem;
}
.card {
    width: 80%;
    height: 150px;
    margin: 5px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 15px;
    border-color: #FE66C4;
    background-color: transparent;
    margin-top: 5rem;
    border-style: double;
    overflow: auto;
}

#btnDelete {
    width: 20px;
    height: 20px;
    top: 7rem;
   float: right;
   margin: 5px;
}

#heart {
    width: 20px;
    height: 20px;
    float: right;
    top: 10rem;
    margin: 5px;
      
}
#btnEdit{
    width: 20px;
    height: 20px;
   float: right;
    top: 2rem;
    margin: 5px;
}

div #divWall {
    margin-top: 1rem;
}
p1{
    color: #F1EF14;
}
h1 {
    color: white;
    top: 10px;
    font-size: 15pt;
}
.counterLikes{
    color: #FE66C4;
    float: right;
    font-size: 8pt;
    top: 2rem;
}
/*
input:invalid {
    border: 2px dashed red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  
  input:valid {
    border: 2px solid black;
  }*/
  

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }