* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 428px;
    height: 926px;
    background: linear-gradient(180deg, #051427 52.6%, #5115FB 99.48%);
    margin: auto;
    
}

#logIn {
    position: absolute;
    width: 11rem;
    height: 3rem;
    margin: 4em;
    justify-content: space-around;
    top: 14rem;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 25px;
}

#register {
    position: absolute;
    width: 11rem;
    height: 3rem;
    margin: 4em;
    justify-content: space-around;
    top: 23rem;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 20pt;
}

#logo {
    top: 0px;
    position: absolute;
    width: 18rem;
    height: 18rem;
    align-items: center;
    left: 4rem;
}

#or {
    position: absolute;
    color: #F1EF14;
    top: 25rem;
    margin-left: 11rem;
    font-family: 'Charmonman', cursive;
    font-size: 20px;
}

#inputUsername {
    position: absolute;
    width: 204px;
    height: 42px;
    left: 113px;
    top: 18.75rem;
    background: transparent;
    color:#F1EF14;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: #FE66C4;
    letter-spacing: 0.2em;
}

#inputPassword {
    position: absolute;
    width: 204px;
    height: 42px;
    left: 113px;
    top: 21.8rem;
    background: transparent;
    color:#F1EF14;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: #FE66C4;
    letter-spacing: 0.2em;
}

#logIn2 { /*boton create acount */
    position: absolute;
    width: 11rem;
    height: 3rem;
    margin: 4.5em;
    justify-content: space-around;
    top: 20rem;
    margin-left: 8rem;
    justify-content: space-around;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 25px;
}
#SignAs{
    position: absolute;
    width: 11rem;
    height: 3rem;
    margin: 4.5em;
    margin-left: 8rem;
    justify-content: space-around;
    top: 27rem;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 18px;
   text-align: center;    
}
#logoGoogle {
    position: absolute;
    width: 11rem;
    height: 3rem; 
    top: 35rem;
    left: 8rem;
}
#logoTwitter{
    position: absolute;
    width: 11rem;
    height: 3rem; 
    top: 38rem;
    left: 8rem;
}
#logogithub{
    position: absolute;
    width: 11rem;
    height: 2.5rem; 
    top: 41.5rem;
    left: 8rem;
    border-radius: .8rem;
}
#buttonBack { /* boton regresar*/
    position: absolute;
    width: 11rem;
    height: 3rem;
    margin: 4.5em;
    margin-left: 8rem;
    justify-content: center;
    top: 30rem;
    background: rgba(254, 102, 196, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #F1EF14;
    font-family: 'Charmonman', cursive;
    font-size: 25px;
}